{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'RickyM/style2.css' %}">
<!DOCTYPE html>
<html>
  <head>
  <style>
  h1 {
    font-family: garamond;
    font-size: 200%;
  }
    }
  </style>
    <meta charset="utf-8">
    <title>Las increibles aventuras de ricardo al abuelo molon y su nieto moratdelo</title>
  </head>
  <body>
    <form action="{%url 'Search' %}" method="GET" value="{{request.GET.q}}">
    <input type="text" name="q" value="{{request.GET.q}}" placeholder="search"/>
    <input type="submit" name="submit" value="Search"/>
    </form>
    <h1>Las increibles aventuras de ricardo el abuelo molon y su nieto mortadelo</h1>
    <div class="container">
    <div class="floatLeft">
    <h2>Información Episodios</h2>
    <table>
      <tr>
        <th>Nombre: {{episodio.name}}</th>
      </tr>
      <tr>
        <th>Fecha Estreno: {{episodio.air_date}}</th>
        <th></th>
      </tr>
      <tr>
        <th>Codigo: {{episodio.episode}}</th>
      </tr>
    </table>
    </div>

    <div class="floatRight">
    <h2>Personajes</h2>
    <table border="1">
      {% for personaje in episodio.characters %}
        <tr>
          <th><a href="/Character/{{personaje.0}}/">{{personaje.1}}</a></th>
        </tr>
      {% endfor %}
    </table>
    </div>
    </div>
  </body>
</html>
